/* Estilos isolados para a página de login */

.login-page {
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
    color: #3d0e54; /* Cor primária */
    background-color: #f3f3f3; /* Cor primária */
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    margin-top: 300px;
    margin-left: 50px;
  }
  
  .login-form {
    background: #d3d1d8;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    width: 500px;
    height: 420px;
    margin-top: -50px;
  }
  
  .login-form-register {
    background: #d3d1d8;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-right: 25px;
    margin-top: -80px;
    width: 500px;
    height: 550px;
  }
  
  .login-form input,
  .login-form-register input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 20px;
    color: #001249;
    background-color: transparent;
  }
  
  .login-form input:focus,
  .login-form-register input:focus {
    box-shadow: none;
    border: none;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #3d0e54;
  }
  
  .login-form .form-group {
    margin-bottom: 20px;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #e9eaeb;
    border-radius: 10px;
    margin-top: 25px;
    padding: 10px;
  }
  
  .input-group i {
    margin-right: 8px;
    font-size: 20px;
    color: #3d0e54;
  }
  
  .login-form button,
  .login-form-register button {
    width: 100%;
    padding: 10px;
    background: #873fca;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 35px;
  }
  
  .login-form button:hover,
  .login-form-register button:hover {
    background: #bc9aff;
  }
  
  .login-image img {
    max-width: 67%;
    border-radius: 30px;
    margin-right: 5px;
    margin-top: -50px;
    margin-left: 90px;
  }
  
  .footer-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .create-account-link,
  .forgot-password-link {
    color: #3d0e54;
    text-decoration: none;
    font-weight: bold;
  }
  
  .create-account-link:hover,
  .forgot-password-link:hover {
    text-decoration: underline;
  }
  