body {
  font-family: 'League Spartan', sans-serif;
  font-size: 16px;
  color: #3d0e54; /* Cor primária */

  margin: 0;
  padding: 0;
  background-color: #f3f3f3; /* Cor primária */
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    margin-top: 300px;
    margin-left: 50px;
}

.login-form {
    background: #edebf1; /* Fundo do formulário */
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    width: 500px;
    height: 420px;
}
.login-form-register {
    background: #edebf1; /* Fundo do formulário */
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    width: 500px;
    height: 450px;
}


.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #3d0e54; /* Cor primária */
}

.login-form .form-group {
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center; /* Alinha verticalmente o ícone e o input */
    background-color: #ffffff; /* Cor de fundo do input */
    border: 2px solid #e9eaeb; /* Cor da borda */
    border-radius: 10px;
    padding: 10px; /* Espaçamento interno */
}

.input-group i {
    margin-right: 8px; /* Espaçamento entre o ícone e o input */
    font-size: 20px; /* Tamanho do ícone */
    color: #3d0e54; /* Cor do ícone */
}

.login-form input {
    border: none; /* Remove a borda do input */
    outline: none; /* Remove o contorno ao focar */
    flex: 1; /* Faz o input ocupar o espaço restante */
    font-size: 20px;
    color: #001249; /* Cor do texto */
}

.login-form button {
    width: 100%;
    padding: 10px;
    background: #873fca; /* Cor do botão */
    color: #ffffff; /* Cor do texto do botão */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 35px;
}

.login-form button:hover {
    background: #bc9aff; /* Cor ao passar o mouse */
}

.login-image img {
    max-width: 67%;
    border-radius: 30px;
}

.footer-links {
    display: flex;
    justify-content: space-between; /* Alinha os itens nas extremidades */
    margin-top: 20px;
}

.create-account-link {
    color: #3d0e54; /* Cor primária */
    text-decoration: none; /* Remove sublinhado */
    font-weight: bold; /* Destaca o texto */
    
}

.create-account-link:hover {
    text-decoration: underline; /* Sublinha ao passar o mouse */
}

.forgot-password-link {
    color: #3d0e54; /* Cor primária */
    text-decoration: none;
    margin-top: 1px; /* Espaçamento acima do link */
    font-weight: bold; /* Destaca o texto */
}

.forgot-password-link:hover {
    text-decoration: underline; /* Sublinha ao passar o mouse */
    
}